.design {
	padding: 80px 0px;
	position: relative;
	@media (max-width: 768px) {
		padding: 60px 0px;
	}
	@media (max-width: 576px) {
		padding: 40px 0px;
	}
	&__container {
		display: flex;
		align-items: center;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__img {
		flex: 0 0 50%;
		position: relative;
		padding: 0px 0px 51% 0px;
		@media (max-width: 768px) {
			flex: 1 1 auto;
			width: 100%;
			order: 2;
			padding: 0px 0px 103% 0px;
			margin-top: 50px;
		}
		img {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	&__descr {
		flex: 1 1 auto;
		padding-left: 80px;
		@media (max-width: 992px) {
			padding-left: 50px;
		}
		@media (max-width: 768px) {
			text-align: center;
			padding-left: 0;
		}
	}

	&__palette {
		position: absolute;
		right: 0;
		bottom: -200px;
		width: 400px;
		height: 345px;
		background: url('../img/design/palette.png') center center/cover no-repeat;
		@media (max-width: 1300px) {
			display: none;
		}
	}
}
