.header {
	padding: 5px 0px;
	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-size: 25px;
		font-weight: 800;
		text-transform: uppercase;
		color: $main-color;
	}

}
.menu {
	flex: 1 1 auto;
	margin: 0px 20px;
	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__item {
		position: relative;
		font-size: 15px;
	}

	&__link {
		position: relative;
		padding-right: 20px;
		&::after {
			content:'';
			position: absolute;
			right: 0px;
			top: 8px;
			width: 0;
			height: 0;
			border: 6px solid transparent; 
			border-top: 6px solid #333;
		}
	}

	&__sublist {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 25px;
		width: 200px;
		background-color: #fff;
		border: solid 1px #eed4d2;
		z-index: 10;
		transition: all 0.3s ease 0s;
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	&__subitem {
		padding: 15px;
	}
	&__sublink {
		display: block;
		width: 100%;
	}
}

body.pc {
	.menu__item {
		&:hover {
			.menu__sublist {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.menu__subitem {
		&:hover {
			background-color: #eed4d2;	
		}
	}
}

