.style {
	padding: 20px 0px 60px 0px;
	position: relative;
	@media (max-width: 576px) {
		padding: 20px 0px 50px 0px;
	}
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
		@media (max-width: 992px) {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 0px;
		}
	}
	&__hidden {
		display: none;
	}

	&__item {
		flex: 0 0 18%;
		padding: 30px;
		background-color: $background;
		position: relative;
		z-index: 5;
		@media (max-width: 992px) {
			flex: 0 1 36%;
			margin: 20px;
		}
		@media (max-width: 576px) {
			flex: 0 1 70%;
			margin: 10px;
		}
	}

	&__image {
		width: 100%;
		position: relative;
		padding: 0px 0px 140% 0px;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		img {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	&__descr {
		text-align: center;
		font-weight: 800;
		font-size: 18px;
		margin-top: 20px;
	}
	&__btn {
		display: block;
		margin: 80px auto 0px auto;
		background-image: none;
		background-color: transparent;
		color: $main-color;
		box-shadow: 0px 3px 5px 0px rgba(170, 38, 183, 0.39);
		position: relative;
		padding: 15px 20px 15px 40px;
		@media (max-width: 992px) {
			margin: 30px auto 0px auto;
		}
		&::after {
			content:'';
			position: absolute;
			left: 15px;
			top: 50%;
			background: url('../img/styles/reload.svg') center center/cover no-repeat;
			transform: translateY(-50%) translateZ(0);
			width: 16px;
			height: 16px;
		}
		&::before {
			background-color: rgba(247, 231, 230, .5);
		}
	}

	&__paints {
		position: absolute;
		left: 0;
		bottom: -280px;
		width: 333px;
		height: 530px;
		background: url('../img/styles/paints.png') center center/cover no-repeat;
		@media (max-width: 1300px) {
			display: none;
		}
	}
}
